In [36]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [37]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,78.80,83,75,9.22,EC,2021-04-18 22:35:49
1,1,Araouane,18.9048,-3.5265,83.08,10,0,9.62,ML,2021-04-18 22:35:50
2,2,Butaritari,3.0707,172.7902,83.17,75,81,14.05,KI,2021-04-18 22:32:21
3,3,Esna,25.2934,32.5540,86.00,32,0,5.75,EG,2021-04-18 22:35:50
4,4,Sandpoint,48.2766,-116.5533,72.00,21,40,9.22,US,2021-04-18 22:35:51

In [38]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [40]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?

ValueError: could not convert string to float: ''

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,78.80,83,75,9.22,EC,2021-04-18 22:35:49
1,1,Araouane,18.9048,-3.5265,83.08,10,0,9.62,ML,2021-04-18 22:35:50
2,2,Butaritari,3.0707,172.7902,83.17,75,81,14.05,KI,2021-04-18 22:32:21
3,3,Esna,25.2934,32.5540,86.00,32,0,5.75,EG,2021-04-18 22:35:50
9,9,Vaini,-21.2000,-175.2000,80.60,74,75,9.22,TO,2021-04-18 22:35:53
15,15,Arraial Do Cabo,-22.9661,-42.0278,77.00,83,75,4.61,BR,2021-04-18 22:35:54
19,19,Hilo,19.7297,-155.0900,84.20,51,1,13.80,US,2021-04-18 22:35:55
21,21,Hithadhoo,-0.6000,73.0833,81.97,65,33,6.22,MV,2021-04-18 22:35:56
26,26,Umm Lajj,25.0213,37.2685,79.12,65,0,7.20,SA,2021-04-18 22:31:44
29,29,Rikitea,-23.1203,-134.9692,77.81,76,9,9.40,PF,2021-04-18 22:35:59

In [46]:
preferred_cities_df.count()

City_ID       153
City          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
Country       151
Date          153
dtype: int64

In [47]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0      Puerto Ayora      EC     78.80  -0.7393  -90.3518
1          Araouane      ML     83.08  18.9048   -3.5265
2        Butaritari      KI     83.17   3.0707  172.7902
3              Esna      EG     86.00  25.2934   32.5540
9             Vaini      TO     80.60 -21.2000 -175.2000
15  Arraial Do Cabo      BR     77.00 -22.9661  -42.0278
19             Hilo      US     84.20  19.7297 -155.0900
21        Hithadhoo      MV     81.97  -0.6000   73.0833
26         Umm Lajj      SA     79.12  25.0213   37.2685
29          Rikitea      PF     77.81 -23.1203 -134.9692

In [48]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [49]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
              except (IndexError):
    print("Hotel not found... skipping.")

IndentationError: unexpected indent (<ipython-input-49-0e46d842c8cf>, line 17)

In [52]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined